<%- include('../partials/header') %>

<!-- 
<table>
    <thead>
      <tr>
        <th>Airplane</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
</table> -->


<section id="show-page">
  <div>Airplane:  <td id="dir"><%= flight.airplane %> </td> </div>  
  <!-- <td><%= flight.airplane %></td> -->
  <div>Airport:  <td><%= flight.airport %></td> </div>

  <div>Flight Number: <td><%= flight.flightNo %></td></div>
  
  <div>Departs: <td><%= flight.departs %></td> </div>
  <div>Destinations:
    <td>
        <% flight.destinations.forEach(function(des){  %>
            <div><%= 'Airport: ' + des.airport + ' ' + 'Arrival: ' + des.arrival%></div>

            <% }) %>
    </td>
  </div>

  <div></div>

  

</section>



<h2>Enter a Destination for this flight</h2>
<form action='/flights/<%=flight._id%>/destinations' method="POST">


<label>Destination
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
</label><br>
    
  <label>Arrival:
    <input type="date" name="arrival">
  </label><br>
  <button type="submit">Add Destination</button>
</form>


<section id="show-tickets">
 
  <div>Tickets:
    <td>

        <% tickets.forEach(function(tic){  %>
            <div><%= 'Seat: ' + tic.seat + ' ' + 'Price: ' + tic.price + ' ' + 'Flight' + tic.flight%></div>
            <% }) %>
    </td>
  </div>


</section>






<%- include('../partials/footer') %>